.nav {
    grid-area: nav;
    display: grid;
    width: 100%;
    padding: 10px;
    margin: 0;
    background-color: black;
    color: white;
    border: 1px solid black;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "left search right";
    box-shadow: 0px 1px 10px 1px gray;
}
.nav .left {
    grid-area: left;
    display: flex;
    height: inherit;
    justify-content: flex-start;
    align-items: flex-start;
    height: 30px;
}

.nav .left img {
    margin-top: -12px;
    margin-left: 30px;
    width: auto;
    height: 50px;
}

.nav .search {
    grid-area: search;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "input button"
    "sugg .";
}

.nav .search input {
    grid-area: input;
    box-sizing: content-box;
    padding: 5px 20px;
    margin: 0;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(0,142,198,1);
    text-overflow: clip;
    background: rgba(252,252,252,1);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.nav .searchbutton {
    display: flex;
    grid-area: button;
    box-sizing: content-box;
    width: 20%;
    padding: 5px 20px;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    font: normal 16px/normal "Times New Roman", Times, serif;
    background: rgba(252,252,252,1);
    box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.2) inset;
    transition: all 150ms cubic-bezier(0.42, 0, 0.58, 1);
    cursor: pointer;
    justify-content: center;
}

.nav .searchbutton:hover {
    opacity: 0.7;
}

.nav .searchSuggest {
    grid-area: sugg;
    z-index: 100;
    width: inherit;
    height: auto;
    color: black;
    background-color: white;
    border: 1px solid black;
}

.nav .searchSuggest li {
    border: 1px solid black;
    list-style: none;
}

.nav .searchSuggest li:hover {
    background-color: gray;
    color: white;
    cursor: pointer;
}

.nav .searchSuggest li a {
    text-decoration: none;
    color: black;
}

.nav .right {
    grid-area: right;
    display: flex;
    justify-content: flex-end;
}

.nav .rightbutton {
    margin: 0 15px 0 0;
    cursor: pointer;
}

.nav .rightbutton:hover {
    opacity: 0.7;
}

@media (max-width: 767px) {
    .nav {
        grid-area: nav;
        display: grid;
        width: 100%;
        height: auto;
        padding: 10px;
        background-color: black;
        color: white;
        border: 1px solid black;
        grid-template-columns: auto;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "left right";
        box-shadow: 0px 1px 10px 1px gray;
    }
    .nav .left {
        grid-area: left;
        display: flex;
        justify-content: flex-start;
    }

    .nav .left img {
        width: auto;
        height: 50px;
    }

    .nav .right {
        grid-area: right;
        display: flex;
        justify-content: flex-end;
    }
    .nav .search {
        display: none;
    }
}