.verifyContainer {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(145, 145, 145);
    justify-content: center;
}

.box {
    display: grid;
    width: 50%;
    height: 70%;
    align-self: center;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    justify-content: center;
}

.box h2 {
    font-size: 40px;
    justify-self: center;
    align-self: center;
}

.box h4 {
    justify-self: center;
    align-self: flex-end;
}

.box i {
    align-self: center;
    justify-self: center;
    color: green;
}

.box p {
    justify-self: center;
    text-align: justify;
}

.box a {
    text-decoration: none;
    color: blue;
    font-weight: 500;
}